In [1]:
# Numerical and Data Analysis
import numpy as np
import pandas as pd

# Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt

# Extra
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.max_rows',200)

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [51]:
filepath="/content/drive/MyDrive/IITB_AIML/1_Statistics/LendingClubCaseStudy/loan.csv"

df = pd.read_csv(filepath)

## **Analyze Raw Data**

Check column by column using Data Dictionary and get unerstanding the data ( content and type )

In [16]:
df.shape

(39717, 111)

In [52]:
df.describe()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,3.971700e+04,3.971700e+04,39717.000000,39717.000000,39717.000000,39717.000000,3.971700e+04,39717.000000,39717.000000,39717.000000,...,0.0,0.0,0.0,0.0,39020.000000,39678.0,0.0,0.0,0.0,0.0
mean,6.831319e+05,8.504636e+05,11219.443815,10947.713196,10397.448868,324.561922,6.896893e+04,13.315130,0.146512,0.869200,...,NaN,NaN,NaN,NaN,0.043260,0.0,NaN,NaN,NaN,NaN
std,2.106941e+05,2.656783e+05,7456.670694,7187.238670,7128.450439,208.874874,6.379377e+04,6.678594,0.491812,1.070219,...,NaN,NaN,NaN,NaN,0.204324,0.0,NaN,NaN,NaN,NaN
min,5.473400e+04,7.069900e+04,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
25%,5.162210e+05,6.667800e+05,5500.000000,5400.000000,5000.000000,167.020000,4.040400e+04,8.170000,0.000000,0.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
50%,6.656650e+05,8.508120e+05,10000.000000,9600.000000,8975.000000,280.220000,5.900000e+04,13.400000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
75%,8.377550e+05,1.047339e+06,15000.000000,15000.000000,14400.000000,430.780000,8.230000e+04,18.600000,0.000000,1.000000,...,NaN,NaN,NaN,NaN,0.000000,0.0,NaN,NaN,NaN,NaN
max,1.077501e+06,1.314167e+06,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,...,NaN,NaN,NaN,NaN,2.000000,0.0,NaN,NaN,NaN,NaN

In [53]:
#Get All Column Names

col= list(df.columns)
print("# Columns are ", len(col))
print("Columns are ", col)

# Columns are  111
Columns are  ['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

### Creating new dataframe for Analysis

In [87]:
#Removing unwanted columns

#After basic analysis columns after [ annual_inc_joint ] are not useful as there is not data.

print("-->",col[53])
columns_removed=col[53:]
print("removed col ",columns_removed)
df1=df.drop(columns_removed,axis=1)

--> annual_inc_joint
removed col  ['annual_inc_joint', 'dti_joint', 'verification_status_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m', 'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_bc_dlq', 'mths_since_recent_inq', 'mths_since_recent_revol_delinq', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit']

In [88]:
#Get  Column afte dropping columns after annual_inc_joint

col1= list(df1.columns)
print("# Columns are ", len(col1))
print("Columns are ", col1)

# Columns are  53
Columns are  ['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med', 'mths_since_last_major_derog', 'policy_code', 'application_type']

In [89]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 53 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           39717 non-null  int64
 1   member_id                    39717 non-null  int64
 2   loan_amnt                    39717 non-null  int64
 3   funded_amnt                  39717 non-null  int64
 4   funded_amnt_inv              39717 non-null  float64
 5   term                         39717 non-null  object
 6   int_rate                     39717 non-null  object
 7   installment                  39717 non-null  float64
 8   grade                        39717 non-null  object
 9   sub_grade                    39717 non-null  object
 10  emp_title                    37258 non-null  object
 11  emp_length                   38642 non-null  object
 12  home_ownership               39717 non-null  object
 13  annual_inc                   39717 non-null  float64
 14  verification_status          39717 non-null  object
 15  issue_d                      39717 non-null  object
 16  loan_status                  39717 non-null  object
 17  pymnt_plan                   39717 non-null  object
 18  url                          39717 non-null  object
 19  desc                         26775 non-null  object
 20  purpose                      39717 non-null  object
 21  title                        39706 non-null  object
 22  zip_code                     39717 non-null  object
 23  addr_state                   39717 non-null  object
 24  dti                          39717 non-null  float64
 25  delinq_2yrs                  39717 non-null  int64
 26  earliest_cr_line             39717 non-null  object
 27  inq_last_6mths               39717 non-null  int64
 28  mths_since_last_delinq       14035 non-null  float64
 29  mths_since_last_record       2786 non-null   float64
 30  open_acc                     39717 non-null  int64
 31  pub_rec                      39717 non-null  int64
 32  revol_bal                    39717 non-null  int64
 33  revol_util                   39667 non-null  object
 34  total_acc                    39717 non-null  int64
 35  initial_list_status          39717 non-null  object
 36  out_prncp                    39717 non-null  float64
 37  out_prncp_inv                39717 non-null  float64
 38  total_pymnt                  39717 non-null  float64
 39  total_pymnt_inv              39717 non-null  float64
 40  total_rec_prncp              39717 non-null  float64
 41  total_rec_int                39717 non-null  float64
 42  total_rec_late_fee           39717 non-null  float64
 43  recoveries                   39717 non-null  float64
 44  collection_recovery_fee      39717 non-null  float64
 45  last_pymnt_d                 39646 non-null  object
 46  last_pymnt_amnt              39717 non-null  float64
 47  next_pymnt_d                 1140 non-null   object
 48  last_credit_pull_d           39715 non-null  object
 49  collections_12_mths_ex_med   39661 non-null  float64
 50  mths_since_last_major_derog  0 non-null      float64
 51  policy_code                  39717 non-null  int64
 52  application_type             39717 non-null  object
dtypes: float64(18), int64(11), object(24)
memory usage: 16.1+ MB

In [90]:
df1.isnull().mean()*100

id                               0.000000
member_id                        0.000000
loan_amnt                        0.000000
funded_amnt                      0.000000
funded_amnt_inv                  0.000000
term                             0.000000
int_rate                         0.000000
installment                      0.000000
grade                            0.000000
sub_grade                        0.000000
emp_title                        6.191303
emp_length                       2.706650
home_ownership                   0.000000
annual_inc                       0.000000
verification_status              0.000000
issue_d                          0.000000
loan_status                      0.000000
pymnt_plan                       0.000000
url                              0.000000
desc                            32.585543
purpose                          0.000000
title                            0.027696
zip_code                         0.000000
addr_state                       0.000000
dti                              0.000000
delinq_2yrs                      0.000000
earliest_cr_line                 0.000000
inq_last_6mths                   0.000000
mths_since_last_delinq          64.662487
mths_since_last_record          92.985372
open_acc                         0.000000
pub_rec                          0.000000
revol_bal                        0.000000
revol_util                       0.125891
total_acc                        0.000000
initial_list_status              0.000000
out_prncp                        0.000000
out_prncp_inv                    0.000000
total_pymnt                      0.000000
total_pymnt_inv                  0.000000
total_rec_prncp                  0.000000
total_rec_int                    0.000000
total_rec_late_fee               0.000000
recoveries                       0.000000
collection_recovery_fee          0.000000
last_pymnt_d                     0.178765
last_pymnt_amnt                  0.000000
next_pymnt_d                    97.129693
last_credit_pull_d               0.005036
collections_12_mths_ex_med       0.140998
mths_since_last_major_derog    100.000000
policy_code                      0.000000
application_type                 0.000000
dtype: float64

In [91]:
df1.application_type.value_counts()

application_type
INDIVIDUAL    39717
Name: count, dtype: int64

In [92]:
df1.policy_code.value_counts()

policy_code
1    39717
Name: count, dtype: int64

In [93]:
#removing columns with only 1 value in all rows

df1=df1.drop(['application_type','policy_code','mths_since_last_major_derog'],axis=1)

In [94]:
df1.isnull().mean()*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     2.706650
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.585543
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
mths_since_last_record        92.985372
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
next_pymnt_d                  97.129693
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
dtype: float64

In [95]:
df1.emp_title.unique()

array([nan, 'Ryder', 'AIR RESOURCES BOARD', ..., 'FiSite Research',
       'Squarewave Solutions, Ltd.', 'Evergreen Center'], dtype=object)

### Questions

In [27]:
# Do we need Emp title ?

## **Cleansing Data**


* Find Shape of data
* Check for Null columns and cells
* For numeric data use either median ( mostly ) or mode as required
* For categorical data use Mode

In [96]:
#emp_lenght is  2.706650 null. Filling it with Median

#examine the data in the column

df1.emp_length.unique()
df1.emp_length.nunique()
df1.emp_length.value_counts()

emp_length
10+ years    8879
< 1 year     4583
2 years      4388
3 years      4095
4 years      3436
5 years      3282
1 year       3240
6 years      2229
7 years      1773
8 years      1479
9 years      1258
Name: count, dtype: int64

In [101]:
# Convert Object to int

def getYears(x):
  if isinstance(x, str):
    xlist=x.split(" ")
  else:
    xlist = []


  if(len(xlist) == 3):
    ans=0
  elif (len(xlist) == 2):
    ans=x.split(" ")[0][:2]
  else:
      ans=x
  return int(ans)


# Convertng Object to int
df1['emp_length'] =  df1['emp_length'].apply(getYears)

In [98]:
df1.emp_length.unique()
df1.emp_length.value_counts()

emp_length
10    8879
0     4583
2     4388
3     4095
4     3436
5     3282
1     3240
6     2229
7     1773
8     1479
9     1258
Name: count, dtype: int64

In [102]:
#Find the median of the emp_length
import math

expmedian= math.trunc(int(df1.emp_length.median()))
print(math.trunc(expmedian))

df1.emp_length.isnull().sum()

df1.emp_length=df1.emp_length.fillna(math.trunc(expmedian))
df1.emp_length.value_counts()

4

emp_length
10    8879
0     4583
4     4511
2     4388
3     4095
5     3282
1     3240
6     2229
7     1773
8     1479
9     1258
Name: count, dtype: int64

In [103]:
df1.isnull().mean()*100

id                             0.000000
member_id                      0.000000
loan_amnt                      0.000000
funded_amnt                    0.000000
funded_amnt_inv                0.000000
term                           0.000000
int_rate                       0.000000
installment                    0.000000
grade                          0.000000
sub_grade                      0.000000
emp_title                      6.191303
emp_length                     0.000000
home_ownership                 0.000000
annual_inc                     0.000000
verification_status            0.000000
issue_d                        0.000000
loan_status                    0.000000
pymnt_plan                     0.000000
url                            0.000000
desc                          32.585543
purpose                        0.000000
title                          0.027696
zip_code                       0.000000
addr_state                     0.000000
dti                            0.000000
delinq_2yrs                    0.000000
earliest_cr_line               0.000000
inq_last_6mths                 0.000000
mths_since_last_delinq        64.662487
mths_since_last_record        92.985372
open_acc                       0.000000
pub_rec                        0.000000
revol_bal                      0.000000
revol_util                     0.125891
total_acc                      0.000000
initial_list_status            0.000000
out_prncp                      0.000000
out_prncp_inv                  0.000000
total_pymnt                    0.000000
total_pymnt_inv                0.000000
total_rec_prncp                0.000000
total_rec_int                  0.000000
total_rec_late_fee             0.000000
recoveries                     0.000000
collection_recovery_fee        0.000000
last_pymnt_d                   0.178765
last_pymnt_amnt                0.000000
next_pymnt_d                  97.129693
last_credit_pull_d             0.005036
collections_12_mths_ex_med     0.140998
dtype: float64

In [109]:
# Analysis of mths_since_last_delinq
df1.mths_since_last_delinq.value_counts()

mths_since_last_delinq
0.0      443
15.0     252
30.0     247
23.0     247
24.0     241
19.0     238
38.0     237
20.0     233
18.0     231
22.0     231
31.0     229
35.0     227
32.0     226
39.0     224
25.0     223
45.0     222
37.0     217
26.0     217
21.0     216
17.0     214
16.0     214
27.0     212
36.0     210
42.0     208
10.0     208
29.0     207
47.0     206
43.0     201
34.0     201
44.0     200
14.0     198
46.0     197
41.0     197
40.0     197
12.0     195
48.0     194
28.0     193
6.0      192
33.0     188
9.0      182
7.0      176
13.0     171
8.0      168
11.0     166
4.0      153
49.0     152
5.0      151
58.0     148
3.0      145
59.0     143
53.0     143
52.0     137
56.0     134
73.0     131
50.0     131
55.0     129
68.0     128
63.0     127
60.0     126
57.0     125
72.0     124
71.0     122
70.0     119
54.0     115
74.0     114
67.0     113
62.0     113
75.0     112
76.0     112
61.0     110
69.0     108
51.0     107
79.0     103
2.0      101
66.0     101
78.0      99
64.0      97
80.0      93
65.0      92
81.0      91
77.0      88
82.0      54
1.0       30
83.0       5
103.0      2
86.0       2
115.0      1
96.0       1
120.0      1
106.0      1
89.0       1
107.0      1
85.0       1
97.0       1
95.0       1
Name: count, dtype: int64

In [107]:

df1.mths_since_last_delinq.value_counts().sum()  #14035
df1.mths_since_last_delinq.isnull().sum()  #25682

14035

In [110]:
delMedian=df1.mths_since_last_delinq.median()

df1.mths_since_last_delinq =df1.mths_since_last_delinq.fillna(delMedian)

In [112]:
df1.mths_since_last_delinq.value_counts().sum() #39717
df1.mths_since_last_delinq.isnull().sum()  #0

0

## **Univariate Analysis**

* Identify the columns to be Analyzed
* Generate plots ( Bar , Box Plot and Histogram )
* Review each column and *remove outliers

##Segmentation

In [113]:
df1.head(3)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,5000.00,863.16,0.0,0.00,0.00,Jan-15,171.62,NaN,May-16,0.0
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,456.46,435.17,0.0,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,2400.00,605.67,0.0,0.00,0.00,Jun-14,649.91,NaN,May-16,0.0

In [114]:
df1.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med'],
      dtype='object')

In [ ]:
#Segmentatoin half done


cat_cols=[ 'grade', 'sub_grade','home_ownership', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan','zip_code', 'addr_state','open_acc', 'pub_rec',]
num_cols=['loan_amnt','funded_amnt','funded_amnt_inv', 'term', 'int_rate', 'installment','emp_length',  'annual_inc','dti', 'delinq_2yrs','inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'revol_bal',
       'revol_util', 'total_acc','out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', ]
extra_cols=['id', 'member_id', , ,
       'emp_title',
        'url', 'desc', 'purpose',
       'title',
       'earliest_cr_line',   'initial_list_status', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med']

## **Bivariate Analysis**

* Identify the pairs of columns to be Analyzed
* Generate cattered plots plots and identify the dependency

## **Multivariate Analysis**

## For all Numeric columns plot a heat map and identify the corelation


* *Correlation represents strength of relationship between variables*
* *Correlation lies in the range of -1 to 1*
* *Negative correlation  (0 to -1) shows inverse relationship*
* *Positive correlation (0 to 1) shows direct relationship*
* *0 correlation represents no relationship. *italicized text*

## Univariate Analysis --> Analysis with Single variable
--> Mean, Median, Max, Min, Std, Variance, Count
--> Distribution (Histogram,Distplot,Countplot,boxplot)
## Bivaraite Analsyis --> Analysis with two variables
--> Relationship between two variables (Scatterplot, boxplot,barplot etc)
## Multivariate Analysis
--> Relationship between more than variables (Heatmap etc)